:root {
  --p-color: #f8d35a;
}
html {
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  margin-bottom: 15px;
}
.container {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.bg-yellow {
  background: var(--p-color);
}
section {
  overflow: hidden;
}
header {
  background: var(--p-color);
  height: 110px;
  z-index: 2;
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  height: 100%;
}
nav a {
  color: #000;
}
.menu > ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.mobile-menu-link,
.menu-link {
  text-transform: uppercase;
  display: flex;
  color: #000;
  position: relative;
}
.dropdown {
  transition: 0.2s ease-in-out;
  left: 0;
  position: absolute;
  top: calc(100% + 30px);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
}
.dropdown a {
  display: flex;
  padding: 8px 16px;
  background-color: #fff;
  transition: 0.2s ease-in-out;
  color: #000;
}
.dropdown a:hover {
  background-color: #f4f4f4;
}
.has-dropdown {
  position: relative;
}
.has-dropdown:hover .dropdown {
  top: 100%;
  opacity: 1;
  pointer-events: all;
}

.menu-link::after {
  position: absolute;
  content: "";
  top: calc(100% + 4px);
  height: 2px;
  background-color: #000;
  left: 0;
  width: 0;
  transition: width 0.3s;
}
.menu-link:hover:after,
.menu-link--active:after {
  width: 100%;
}

/* Mobile menu */
.mobile-menu {
  background-color: var(--p-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.mobile-menu-logo {
  width: 30px;
  position: relative;
  z-index: 3;
}
.hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: transparent;
  flex-direction: column;
  gap: 8px;
  position: relative;
  z-index: 3;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transform-origin: center;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}

.hamburger--active span:first-child {
  transform: rotate(45deg) translateY(7px);
}
.hamburger--active span:last-child {
  transform: rotate(-45deg) translateY(-7px);
}

.mobile-navigation {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  transition: 0.3s ease-in-out;
  background: var(--p-color);
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.mobile-navigation--active {
  left: 0;
}

.mobile-menu-link {
  font-size: 30px;
  font-weight: 500;
  text-transform: none;
}
.hero {
  background: var(--p-color);
  position: relative;
}
.hero-container {
  margin-top: 77px;
  padding-bottom: 60px;
}
.cta-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-cta-buttons {
  align-items: flex-start;
}
.btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.btn-icon {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
}
.btn h3 {
  font-size: 16px;
}
.btn h6 {
  font-size: 14px;
  opacity: 0.5;
  font-weight: 500;
}
.btn-black {
  background-color: #000;
  color: #fff;
}
.btn-white {
  background-color: #fff;
  color: #000;
}
.btn-yellow {
  background-color: var(--p-color);
  color: #000;
}

.h-screen {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  height: auto;
  width: 100%;
}
.section-content {
  width: 100%;
  margin-bottom: 60px;
}
.section-content > div {
  width: 100%;
  position: relative;
}
.section-content--divided {
  display: flex;
  flex-direction: column;
}

.section-content h1 {
  margin-bottom: 30px;
  font-size: 30px;
  position: relative;

  opacity: 0;
  transition: transform 0.3s ease-in-out;
}
.section-content div:first-child h1 {
  transform: translateX(-100px);
}
.section-content div:last-child h1 {
  transform: translateX(100px);
}
.section-content p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  position: relative;
  transform: translateX(-100px);
  opacity: 0;
  transition: all 0.3s 0.1s ease-in-out;
}
.mockup {
  width: 100%;
  opacity: 0;
  margin-top: 100px;
  transition: 0.3s ease-in-out;
}

.text-right {
  text-align: right;
}
footer {
  background: #000;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #fff;
}
.footer-logo {
  width: 200px;
}

.footer-subtitle {
  color: #888;
  margin-bottom: 8px;
}
.footer-el {
  display: flex;
  margin-bottom: 60px;
}
.footer-row {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-icon {
  width: 16px;
  margin-right: 16px;
}
.footer-el ul {
  list-style: none;
}
.footer-el li:not(:last-child) {
  margin-bottom: 8px;
}

.footer-col {
  width: 100%;
}
.footer-menu a {
  color: #888;
  display: flex;
  margin-bottom: 8px;
  transition: 0.2s ease-in-out;
}
.footer-menu a:hover {
  color: #fff;
}
.footer .social-links {
  display: flex;
  gap: 8px;
  margin-bottom: 30px;
}
.footer .social-links a {
  color: #fff;
}
#services-section {
  background: #f4f4f4;
  padding-top: 60px;
}
#services-section h1 {
  text-align: center;
}
.services {
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  width: 100%;
  gap: 60px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.service {
  padding: 30px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  position: relative;
}

.service::before {
  top: 0;
  position: absolute;
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--p-color);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.service:hover {
  background: #fff;
}
.service:hover:before {
  opacity: 1;
}
.service-icon {
  width: 30px;
}
.service-title {
  font-size: 20px;
  font-weight: bold;
}
.service-icon,
.service-title {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  header {
    display: block;
  }
  #services-section h1 {
    transform: translate(0) !important;
  }
  .services {
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .mobile-menu {
    display: none;
  }
  .services {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
  .h-screen {
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
  }
  .section-content--divided {
    justify-content: space-between;
  }
  .hero-container {
    min-height: calc(100vh - 110px);
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  .mockup {
    width: 420px;
  }
  .section-content {
    margin-bottom: 0;
  }
  .cta-buttons {
    align-items: flex-start;
  }
  .footer-row {
    flex-direction: row;
  }
  .mockup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .section-content--divided {
    flex-direction: row;
  }
  .section-content > div:first-child:not(.cta-buttons) {
    transform: translateY(-100px);
  }
  .section-content > div:last-child:not(.cta-buttons) {
    transform: translateY(100px);
  }
  .section-content--reverse > div:first-child:not(.cta-buttons) {
    transform: translateY(100px);
  }
  .section-content--reverse > div:last-child:not(.cta-buttons) {
    transform: translateY(-100px);
  }
  .h-screen {
    display: flex;
    align-items: center;
  }
  .section-content h1,
  .section-content p {
    text-align: unset;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    width: calc(100% - 240px);
  }
  .section-content h1 {
    font-size: 48px;
  }
  .mockup {
    width: 600px;
  }
}

.slide-x {
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.slide-y {
  margin-top: 0 !important;
  opacity: 1 !important;
}
